{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> АК стройсервис </title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="title">Главная страница</h1>
    </div>
</div>
</body>
</html>